.container {
   background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
   );
   display: flex;
   justify-content: center;
}

.row {
   max-width: 114rem;
   box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
   background-color: #fff;
}
