/* ------------- */
/* HEADER LAYOUT */
/* ------------- */
.header {
   background-color: var(--color-grey-light-1);
   padding: 2rem;
   display: flex;
   justify-content: space-between;

   &__logo-box {
      width: 6rem;
      height: auto;
   }

   &__logo {
      display: block;
      max-width: 100%;
   }
}

/* ----------------- */
/* NAVIGATION LAYOUT */
/* ----------------- */
.navigation {
}
