/* ------------- */
/* HEADER LAYOUT */
/* ------------- */
.header {
   width: 100%;
   background-color: var(--color-grey-light-1);

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   & > * {
      align-self: center;
   }

   &__logo-box {
      width: 6rem;
      height: auto;
   }

   &__logo {
      display: block;
      max-width: 100%;
   }
}
