/* ------------------- */
/*   MAIN NAVIGATION   */
/* ------------------- */
.navigation {
   display: flex;
   flex-grow: 1;
   justify-content: space-between;

   @media (max-width: 37.43em) {
      flex-direction: column;
      flex-wrap: wrap;
   }

   &__list {
      list-style: none;

      display: flex;
      justify-content: space-between;

      & > * {
         align-self: center;
      }
   }

   &__item {
      padding: 1.5rem;

      &:not(:last-child) {
         background-color: var(--color-grey-light-3);
      }

      display: flex;
      align-self: stretch;
      align-items: center;

      cursor: pointer;
      transition: var(--transition-base);

      &:hover:not(:last-child) {
         background-color: var(--color-grey-light-4);
      }
   }

   &__link {
      display: block;
      width: 3rem;
      height: 3rem;
      position: relative;

      &--picture-box {
         width: 4rem;
         height: 4rem;
      }

      &-icon {
         width: 100%;
         height: 100%;
         fill: var(--color-grey-dark-2);
         transition: var(--transition-base);
      }
   }

   &__item:hover &__link-icon {
      fill: var(--color-grey-dark-1);
   }

   &__item:hover &__notification {
      background-color: var(--color-primary-dark);
   }

   &__notification {
      width: 2rem;
      height: 2rem;
      background-color: var(--color-primary-light);
      color: white;
      text-align: center;
      line-height: 2rem;
      font-weight: 400;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      top: -1rem;
      right: -1rem;
      transition: var(--transition-base);
   }

   &__picture {
      display: block;
      max-width: 100%;
      border-radius: 50%;
   }
}

/* -------------- */
/* Sub Navigation */
/* -------------- */
.sidebar-quicklinks {
   display: flex;
   flex-direction: column; // From main axis to cross axis
   justify-content: space-between;

   background-color: var(--color-grey-dark-1);
   padding: 2rem 0;

   &__legal-text {
      padding: 2rem;
      font-size: 1.2rem;
      color: var(--color-grey-dark-3);
   }
}

.sidebar-navigation {
   &__list {
      list-style: none;
   }

   &__item {
      &::before {
         content: "";
         display: block;

         width: 3px;
         height: 100%;
         background-image: linear-gradient(
            90deg,
            var(--color-primary-light),
            var(--color-primary-dark)
         );

         position: absolute;
         top: 0;
         left: 0;

         transform: scaleY(0);
         transition: transform 0.2s cubic-bezier(0.99, -0.01, 0.17, 0.99),
            width 0.2s 0.2s cubic-bezier(0.99, -0.01, 0.17, 0.99);
      }

      &:hover::before,
      &--active::before {
         transform: scaleY(1);
         width: 100%;
      }

      &:active::before {
         background-image: linear-gradient(
            90deg,
            var(--color-primary-dark),
            var(--color-primary-light)
         );
      }

      position: relative;
   }

   &__link:link,
   &__link:visited {
      display: flex;
      align-items: center;

      // We don't specify the background-image here because of max-content
      width: max-content;
      padding: 1.5rem 5rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 300;
      position: relative;
   }

   &__icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
      margin-right: 1.5rem;
   }
}
