/* ------------------------ */
/*        Main button       */
/* ------------------------ */

.btn-main {
   &:link,
   &:visited {
      position: relative;
      display: inline-block;
      width: 25rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
         90deg,
         var(--color-primary-dark),
         var(--color-primary-light)
      );
      color: white;
      font-size: 1.1rem;
      letter-spacing: 1px;
      padding: 2rem 5rem;
      border-radius: 25rem;
      transition: all 0.2s;
      overflow: hidden;
   }

   &:hover {
      background-image: linear-gradient(
         90deg,
         var(--color-primary-light),
         var(--color-primary-dark)
      );
   }

   & > span {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;
   }

   &__book {
      top: 50%;
      opacity: 1;
   }

   &__available-rooms {
      top: 5rem;
      opacity: 0;
   }

   &:hover &__available-rooms {
      top: 50%;
      opacity: 1;
   }

   &:hover &__book {
      top: -0.5rem;
      opacity: 0;
   }
}

/* ------------------------ */
/*        Button text       */
/* ------------------------ */
.btn-text {
   &,
   &:link,
   &:visited {
      display: inline-block;
      text-decoration: none;
      background-color: transparent;
      color: var(--color-primary-light);
      font-size: 1.15rem;
      padding-bottom: 0.35rem;
      border: none;
      border-bottom: 1px solid currentColor;
      cursor: pointer;
   }

   &--right {
      float: right;
      margin-top: 2rem;
   }
}

/* -------------- */
/* FORM COMPONENT */
/* -------------- */
.form-search {
   display: flex;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
}

.form-search__group {
   position: relative;
   flex-basis: 40rem; // max-width: 40rem
}

.form-search__control {
   width: 100%;
   padding: 0.8rem 1.3rem;
   background-color: var(--color-grey-light-3);
   color: var(--color-grey-dark-2);
   font-family: inherit;
   font-size: 1.5rem;
   border: none;
   border-radius: 10rem;

   &:focus {
      outline: 1px solid var(--color-grey-dark-1);
   }

   &::-webkit-input-placeholder {
      font-size: 1.5rem;
   }
}

.form-search__search {
   position: absolute;
   border: none;
   background: none;
}

.form-search__button {
   width: 1.5rem;
   height: 1.5rem;
   border: none;
   background: none;

   position: absolute;
   top: 50%;
   right: 1.3rem;
   transform: translateY(-50%);
}

.form-search__icon {
   max-width: 100%;
   max-height: 100%;
   fill: var(--color-grey-dark-3);
}

/* ----------------- */
/* GALLERY COMPONENT */
/* ----------------- */
.section-gallery {
   &__pictures-box {
      display: flex;
   }

   &__picture {
      display: block;
      max-width: 100%;
      height: 100%;
   }
}

/* ------------------------ */
/*        User Review       */
/* ------------------------ */
.user-review {
   &::before {
      content: "";
      display: block;
      width: 5rem;
      height: 5rem;
      background-color: var(--color-grey-dark-3);

      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
         -webkit-mask-image: url(../img/quote.svg);
         -webkit-mask-size: cover;
      }

      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3;
      transform: rotate(180deg);
   }

   position: relative;
   padding: 3rem;
   background-color: #fff;
   box-shadow: var(--shadow-light);

   &:not(:last-of-type) {
      margin-bottom: 2rem;
   }

   &__text {
      font-size: 1.2rem;
      color: var(--color-grey-dark-3);
      margin-bottom: 2rem;
   }

   &__infos {
      display: flex;
      align-items: center;
   }

   &__infos-box {
      margin-right: auto;
   }

   &__infos-name {
      color: #666;
   }

   &__infos-date {
      color: var(--color-grey-light-4);
   }

   &__infos-rating {
      font-size: 2.5rem;
      font-weight: 300;
      color: var(--color-primary-light);
   }

   &__avatar {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
   }
}

@keyframes zoomIn {
}
